# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/

# IDEs
.vscode/
.idea/

# Streamlit
.streamlit/

# You can uncomment these if you DON'T want to push the data and models to GitHub:
# data/
# models/
